{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parola Sıfırlama</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{% static 'js/main/jquery.min.js' %}"></script>
    <script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
    <script src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
    <script src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>

    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- /theme JS files -->

</head>
<body>

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand wmin-200">

    </div>


    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
    </div>
</div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">
    <p>
        Parolan değiştirildi. Giriş yapmak için <a href="{% url 'account:login' %}">tıklayın.</a>
    </p>
</div>
</body>
</html>
