{% extends 'layouts/adminlayout.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

{% block header %}
    <head>
        <meta charset="UTF-8">
        <title>Aday | Tüm İlanlar</title>
    </head>
{% endblock %}


{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row page-title align-items-center">
                <div class="col-md-3 col-xl-6">
                    <h4>Tüm İlanlar</h4>
                </div>
                <div class="col-md-9 col-xl-6 text-md-right">
                    <div><a data-toggle="modal" data-target="#filtre_modal" class="btn mb-3 mb-sm-0"><i
                            class="icon icon-filter3 mr-1"></i> Filtrele</a></div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="justified-top-icon-tab1">
                    <div class="card">
                        <div class="card-body">
                            <table id="agencies" class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr role="row" class="bg-slate-800">
                                    <th>Pozisyon</th>
                                    <th>Çalışma Modeli</th>
                                    <th>Konum</th>
                                    <th>Oluşturulma Zamanı</th>
                                    <th class="text-right">Aksiyon</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for post in all_posts.qs %}
                                    <tr>
                                        <td>
                                            {{ post.job }}
                                        </td>
                                        <td>
                                            {{ post.working_model }}
                                        </td>
                                        <td>
                                            {{ post.location }}
                                        </td>
                                        <td>
                                            {{ post.created_at|date:"d M Y" }}
                                        </td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="{% url 'jobseek:detail-job-post' post.uuid %}"
                                                       class="dropdown-item"><i class="icon-search4"></i> Detay</a>
                                                    <a href="{% url 'jobseek:apply-fast-job-post' post.uuid %}"
                                                       class="dropdown-item"><i class="icon-arrow-up-left3"></i> Hızlı Başvur</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="filtre_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Filtrele</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <form class="job-post-form" action="{% url 'jobseek:all-job-post' %}" method="get">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ all_posts.form|crispy }}
                        </div>
                        <div class="form-group">
                            <button type="submit" name="jobApplicationSubmit" class="btn btn-primary btn-block">Filtrele<i
                                    class="icon-circle-right2 ml-2"></i></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
